* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline:  none;
    cursor: pointer;
}

input {
    border: none;
    outline:  none;
}

body {
    transition:
        background-color 0.15s linear,
        color 0.15s linear;
    background-color: var(--background-color);
    color: var(--opposite-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: blue;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}
::-webkit-scrollbar-thumb {
    background-color: #006471;
    width: 4px;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #005a65;
}